{% extends "base.html "%}
{% load static %}
{% block frstblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 px-0">
            <img src="{% static 'images/img3.jpg' %}" alt="Not found" height="400px" width="100%">
        </div>
        <div class="col-md-12">
            <h1>About Page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, repudiandae illo, quo non voluptates exercitationem quas sit incidunt ea error vero eum. Cum perferendis ipsam placeat totam inventore, nemo possimus.</p>
        </div>
    </div>
</div>
{% endblock%}