{% extends "basedashboard.html" %}
{% load static %}
{% load bootstrap4 %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto bg-light my-5">
            <h1>Add Product</h1>
            <!-- <table>
                {{form.as_table}}
            </table> -->
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" name="" value="Add Product" class="btn btn-success">
            </form>
            </div>
    </div>
</div>
{% if status %}
    <script>
        alert("{{status}}")
        window.location = "/myproducts"
    </script>
{% endif %}
{% endblock %}