{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
    th{
        width: 30%;
    }
    .hover:hover{
        box-shadow: 0px 0px 10px black;
    }
</style>
{% endblock %}
{% block frstblock %}
    <div class="container-fluid" style="background: url('/static/images/cover.jpg'); background-size: cover;">
        <div class="row py-5" style="background: rgba(0, 0, 0, 0.5);">
            <div class="col-md-12 py-5 my-5 text-light text-center text-uppercase font-weight-bold">
                {% if abc %}
                    <h1>Total ({{products|length}}) Products found!!</h1>
                {% else %}
                    <h1>All Products ({{products|length}})</h1>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row py-4">
            {% for p in products %}
                <div class="col-md-4 p-4 text-center">
                    <div class="p-2 hover" style="border: 1px solid black;">
                        <img src="/media/{{p.product_image}}" alt="" style="height: 200px; width: 60%;"><br>
                        <a href="{% url 'singleproduct' %}?pid={{p.id}}">{{p.product_name}}</a>
                        <h4>
                            <span><del>&#8377; {{p.product_price}}</del></span>
                            <span>&#8377; {{p.sale_price}}</span>
                        </h4>
                        <h5>
                            <strong>{{p.product_category.cname}}</strong>
                        </h5>
                        <form action="{% url 'add_to_cart' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{p.id}}" name="pid">
                            <input type="hidden" value="1" name="qty">
                            <button class="btn btn-success">
                                <i class="fa fa-shopping-cart"></i> Add To Cart
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}