<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <style>
        img{
            width: 100%;
        }
    </style>
    {% block head %}
    
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand bg-primary navbar-dark">
                    <a href="" class="navbar-brand">My WebSite</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about' %}" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'allproducts' %}" class="nav-link">All Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
                            <div class="dropdown-menu">
                                {% for c in category %}
                                <a href="{% url 'allproducts' %}?cat={{c.id}}" class="dropdown-item">{{c.cname}}</a>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item mr-2">
                            <a href="{% url 'signup' %}" class="nav-link">Signup</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item mr-2">
                            <a href="{% url 'customer' %}" class="nav-link">Welcome {{user.username}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item mr-2">
                            <a href="{% url 'signup' %}" class="btn btn-outline-light">Signup</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="btn btn-outline-light" data-toggle="modal"
                                data-target="#mymodal">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-md-12">
                <div class="modal fade" id="mymodal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times</button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'signin' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" name="username" id="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" name="password" id="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="remember">
                                        <label>Remember Me</label>
                                        <a href="{% url 'forgot' %}">Forgot Password?</a>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Submit" class="btn btn-success">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    {% block frstblock %}
            
    {% endblock %}
    <div class="container-fluid">
        <div class="row bg-primary text-white p-5">
            <div class="col-md-4" style="border-right: 2px solid white;">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos similique quas error autem. Error maiores ut molestias laboriosam, fuga eum ipsum totam, ducimus illo a odio autem repellendus qui veritatis.</p>
            </div>
            <div class="col-md-4" style="border-right: 2px solid white;">
                <ul>
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </div>
        </div>
    </div>    
</body>
</html>