{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
    .cart td{
        width: 20%;
    }
    .cart th{
        text-align: center;
    }
</style>
{% endblock %}
{% block frstblock %}
{% if user.is_superuser %}
<h1 class="alert alert-danger my-3">YOU ARE NOT ALLOWED HERE!!!</h1>
{% else %}
{% if items|length == 0 %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-light text-danger text-center p-5">
            <h1>Your Cart is Empty!!!</h1>
        </div>
    </div>
</div>
{% else %}
    <div class="container-fluid" style="background: url('/static/images/cover.jpg'); background-size: cover;">
        <div class="row py-5" style="background: rgba(0, 0, 0, 0.5);">
            <div class="col-md-12 py-5 my-5 text-light text-center text-uppercase font-weight-bold">
                {% if status %}
                    <h1>{{status}}</h1>
                {% else %}
                <h1>My Cart ({{items|length}})</h1>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row py-4">
            
            <div class="col-md-9 my-5 ">
                <div style="box-shadow: 0px 0px 15px black;">
                    {% if msg %}
                        <div class="{{class}} mt-3">{{msg}}</div>
                    {% endif %}
                    <table class="table cart">
                        <thead>
                            <tr>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Product Price</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in items %}
                                <tr id="row{{i.id}}">
                                    <td><img src="/media/{{i.product.product_image}}" style="height: 150px; width: 200px;"></td>
                                    <td>{{i.product.product_name}}</td>
                                    <td>&#8377;<del id="pp{{i.id}}">{{i.product.product_price}}</del> &#8377; <span id="sp{{i.d}}"> {{i.product.sale_price}} </span></td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <i class="fa fa-plus bg-success text-white p-1 rounded-circle" onclick="changequan('{{i.id}}','plus')"></i>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="number" value="{{i.quantity}}" id="cart{{i.id}}" class="form-control">
                                            </div>
                                            <div class="col-md-3">
                                                <i class="fa fa-minus bg-danger text-white p-1 rounded-circle" onclick="changequan('{{i.id}}','minus')"></i>
                                            </div>
                                        </div>    
                                    </td>
                                    <td><button onclick="remove_cart('{{i.id}}')" class="btn btn-danger"><i class="fa fa-trash"></i> Remove</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3 my-5">
                <div style="box-shadow: 0px 0px 15px black;" class="my-2">
                    <h2 class="text-center">Checkout</h2>
                    <table class="table">
                        <tr>
                            <th>Item Total</th>
                            <td id="item_total"></td>
                        </tr>
                        <tr>
                            <th>Offered Price</th>
                            <td id="dis"></td>
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <td id="quantity"></td>
                        </tr>
                        <tr>
                            <th>You Saved</th>
                            <td id="offer"></td>
                        </tr>
                        <tr>
                            <th>Delivery</th>
                            <td>Free</td>
                        </tr>
                        <tr>
                            <th>Grand Total</th>
                            <td id="grand_total"></td>
                        </tr>
                    </table>
                    <div class="p-3">
                        <a href="{% url 'process_payment' %}" class="btn btn-success btn-block">Proceed To Pay <span id="btamt"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function total(){
            $.ajax({
                url:"{% url 'get_cart_data' %}",
                type:"get",
                success:function(data){
                    p = Math.round(100 - ((data.offer/data.total)*100),2)
                    save = data.total - data.offer
                    $("#item_total").html("&#8377;"+data.total)
                    $("#dis").html("&#8377;"+data.offer)
                    $("#quantity").html(data.quan+" Items")
                    $("#offer").html("&#8377;"+save*data.quan+" <span class='text-success'>("+p+"%)</span>")
                    $("#grand_total").html(data.offer)
                    $("#btamt").html("&#8377;"+data.offer)
                }
            })
        }
        total()
        function changequan(id,action){
            let old = $("#cart"+id).val()

            quantity = 0
            if(action=="plus"){
                quantity += parseInt(old)+1
            }
            else{
                quantity += parseInt(old)-1
            }
            $("#cart"+id).val(quantity)

            $.ajax({
                url:"{% url 'change_quantity' %}",
                type:"get",
                data:{cid:id,quantity:quantity},
                success:function(data){
                    total();
                    if(data==0){
                        remove_cart(id)
                    }
                }
            })
        }
        function remove_cart(id){
            $.ajax({
                url:"{% url 'change_quantity' %}",
                data:{delete_cart:id},
                success:function(data){
                    total();
                    $("#row"+id).hide()
                }
            })
        }
    </script>
{% endif %}
    {% endif %}
{% endif %}
{% endblock %}