{% extends "basedashboard.html" %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mx-auto bg-light my-5 p-4">
            <form action="" method="post">
                {% csrf_token %}
                <h1>Get Your Password</h1>
                <hr>
                {% if msg %}
                    <div class="alert {{color}}">{{msg}}</div>
                
                {% endif %}
                <div class="form-group">
                    <label>Enter Current Password</label>
                    <input type="password" class="form-control" name="cpswrd" required>
                </div>
                <div class="form-group">
                    <label>Enter New Password</label>
                        <input type="password" class="form-control" name="npswrd" id="pw" onkeyup="check()" required>
                </div>
                <div class="form-group">
                    <label>Re-enter New Password</label>
                    <input type="password" class="form-control" id="cpw" onkeyup="check()" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Change Password" id="btn1">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function check(){
        let p = $("#pw").val()
        let cp = $("#cpw").val()
        
        if(p==cp){
            $("#pw").css("border","1px solid green")
            $("#cpw").css("border","1px solid green")
            $("#btn1").removeAttr("disabled")
        }
        else{
            $("#pw").css("border","1px solid red")
            $("#cpw").css("border","1px solid red")
            $("#btn1").attr("disabled","disabled")
        }
    }
</script>
{% endblock %}