{% extends "base.html" %}
{% load static %}
{% block frstblock%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Contact Page</h1>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.0562835632213!2d76.69247711381527!3d30.716818081642685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1585721295358!5m2!1sen!2sin" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-md-6">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter ur Name..">
                </div>
                <div class="form-group">
                    <label>Contact</label>
                    <input type="text" class="form-control" name="contact" placeholder="Enter ur Contact number..">
                </div>
                <div class="form-group">
                    <label>Subject</label>
                    <input type="text" class="form-control" name="subject" placeholder="Enter ur Subject..">
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea cols="30" rows="10" name="message" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-info form-control">Send Message</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Previous feedbacks</h1>
            <h4 class="text-center"><em>Total: {{messages|length}}</em></h4>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in messages %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.contact}}</td>
                            <td>{{i.subject}}</td>
                            <td>{{i.message}}</td>
                            <td>{{i.added_on}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
    {% if status %}
    <script>
        alert("{{status}}")
    </script>
    {% endif %}
{% endblock %}