{% extends "basedashboard.html" %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto p-4">
            <div class="card shadow shadow-lg">
                <div class="card-body">
                    <h3 class="text-danger">Are you sure you want to delete ??</h3>
                    <img src="/media/{{product.product_image}}" style="height: 250px; width: 100%;" class="py-3">
                    <h4>{{product.product_name}}</h4>
                    <div class="mt-3">
                        <a href="{% url 'deleteproduct' %}?pid={{product.id}}&&action=confirm" class="btn btn-success">Confirm</a>
                        <a href="{% url 'myproducts' %}" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}")
    window.location = "/myproducts"
</script>
{% endif %}
{% endblock %}