{% extends "basedashboard.html" %}
{% load static %}
{% block head %}
<style>
    .bg{
        background: url('/static/images/img3.jpg');
    }
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg py-5 text-center text-light">
            <h1>Dashboard &gt; Edit Profile</h1>
        </div>
        <div class="col-md-6 mx-auto p-3 my-2 bg-light">
            <div class="text-center">
                {% if data.pic %}
                    <img src="/media/{{data.pic}}" style="height: 150px; width: 150px; border-radius: 50%;">
                {% else %}
                    <img src="{% static 'images/user.png' %}" style="height: 150px; width: 150px; border-radius: 50%;">
                {% endif %}
            </div>
                <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if status %}
                    <div class="alert alert-primary">{{status}}</div>
                {% endif %}

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" name="fname" placeholder="Enter first name" value="{{user.first_name}}">
                        </div>
                        <div class="col-md-6">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" name="lname" placeholder="Enter last name" value="{{user.last_name}}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter email" value="{{user.email}}">
                        </div>
                        <div class="col-md-6">
                            <label for="">Profile pic</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Contact</label>
                            <input type="text" value="{{data.contact}}" class="form-control" name="contact" placeholder="Enter Contact" pattern="[0-9]{10}" title="number must contain ten digits">
                        </div>
                        <div class="col-md-6">
                            <label for="">Age(in years)</label>
                            <input type="number" value="{{data.age}}" class="form-control" name="age" placeholder="Enter Age" min="15" max="90">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">City</label>
                            <input type="text" value="{{data.city}}" class="form-control" name="city" placeholder="Enter City">
                        </div>
                        <div class="col-md-6">
                            <label for="">Gender</label>
                            <select name="gender" class="form-control" id="">
                                <option value="male">Male</option>
                                {% if data.gender == "female" %}
                                <option value="female" selected>Female</option>
                                {% else %}
                                <option value="female">Female</option>
                                {% endif %}
                                {% if data.gender == "others" %}
                                <option value="others" selected>Others</option>
                                {% else %}
                                <option value="others">Others</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Occupation</label>
                    <input type="text" value="{{data.occupation}}" class="form-control" name="occupation" placeholder="Enter Occupation">
                </div>
                <div class="form-group">
                    <label for="">About you</label>
                    <textarea name="about" class="form-control" placeholder="Write about yourself">{{data.about}}</textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg rounded-pill" name="editprofile" value="Save Changes">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}