{% extends "basedashboard.html" %}
{% load static %}
{% block head %}
<style>
    .bg{
        background: url('/static/images/img3.jpg');
    }
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg py-5 text-center text-light px-0">
            <h1>Dashboard &gt; Send Email</h1>
        </div>
        <div class="col-md-6 mx-auto p-3 my-5 bg-light shadow shadow-lg">
            {% if message %}
            <div class="alert {{class}}">
                {{message}}
            </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">To</label>
                    <input type="text" class="form-control" name="to" placeholder="To">
                </div>
                <div class="form-group">
                    <label for="">Subject</label>
                    <input type="text" class="form-control" name="sub" placeholder="Subject">
                </div>
                <div class="form-group">
                    <label for="">Message</label>
                    <textarea name="msg" rows="5" placeholder="Enter your message" class="form-control"></textarea>
                </div>
                <div>
                    <input type="submit" value="Send Email" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}