{% extends "base.html" %}
{% block frstblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 my-5 p-5 mx-auto shadow shadow-lg">
            <h2>Reset Your Passowrd</h2><hr>
            <div id="result"></div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Enter your username</label>
                    <input type="text" class="form-control" id="un" name="uname">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" id="continue" onclick="getpassword()">Click to continue</button>
                </div>
                <div class="form-group" style="display: none;" id="afterotp">
                    <label for="">Enter OTP</label>
                    <input type="number" class="form-control" id="uotp" placeholder="Enter OTP here">
                    <button class="btn btn-primary mt-3" type="button" onclick="matchotp()">Verify OTP</button>
                </div>
                <div style="display: none;" id="changepass">
                    <div class="form-group">
                        <label for="">New Password</label>
                        <input type="password" name="npass" class="form-control" placeholder="Enter New password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset Password" class="btn btn-success">
                    </div>
                </div>
                <input type="hidden" id="realotp">
            </form>
        </div>
    </div>
</div>
<script>
    function getpassword(){
        let user = $("#un").val()
        alert(user)
        $.ajax({
            url:"{% url 'reset' %}",
            type:"get",
            data:{username:user},
            success:function(data){
                // alert(JSON.stringify(data))
                if(data.status=="not found"){
                    $("#result").html("<p class='alert alert-danger'>No user registered with this username!!!</p>")
                }
                else if(data.status=="error"){
                    $("#result").html("<p class='alert alert-danger'>Could not send email to "+data.email+", Something Went Wrong!!!</p>")
                }
                else if(data.status=="sent"){
                    $("#result").html("<p class='alert alert-success'>An OTP has sent to your registered email ID "+data.email+"!!!</p>")
                    $("#continue").hide()
                    $("#afterotp").slideDown(1000)
                    $("#realotp").val(data.rotp)
                }
            }
        })
    }
    function matchotp(){
        uotp = $("#uotp").val()
        rotp = $("#realotp").val()
        if(uotp==rotp){
            $("#changepass").fadeIn(1000)
            $("#afterotp").hide()
            $("#result").html("<p class='alert alert-success'>Validation Success!!!</p>")
        }
        else{
            $("#result").html("<p class='alert alert-danger'>Incorrect OTP!!!</p>")
                
        }
    }
</script>
{% if status %}
<script>
    alert("{{status}}")
    window.location = "/"
</script>
{% endif %}
{% endblock %}