{% extends "base.html" %}
{% load static %}
{% block head %}
    <style>
        h1{
            font-family: cursive; color:aqua;
        }
        .bg{
            height: 300px; background: url("{% static 'images/img1.jpeg' %}");
        }
        .bgimg{
            height: 300px; 
        }
        .box:hover{
            height: 100%; width: 100%; background: rgba(0, 0, 0, 0.5); color: white; text-align: justify;
        }
    </style>
{% endblock %}
{% block frstblock %}
<div class="container-fluid">
    <div class="row py-5" style="background: url(/static/images/cover.jpg);background-size: 100% 100%;">
        <div class="col-md-8 mx-auto my-5">
            <form action="{% url 'allproducts' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="qry" placeholder="Search by product name..">
                        </div>
                        <!-- <div class="col-md-5">
                            <input type="text" class="form-control" name="price" placeholder="Search by price..">
                        </div> -->
                        <div class="col-md-2">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Our Categories ({{category|length}})</h1>
        </div>
        {% for c in category %}
            <div class="col-md-4 text-center p-4">
                <div class="bgimg" style="box-shadow: 0px 0px 10px black; background: url('/media/{{c.cover_pic}}'); background-size: cover;">
                    <!-- <img src="/media/{{c.cover_pic}}" height="300" alt=""> -->
                    <a href="{% url 'allproducts' %}?cat={{c.id}}">
                        <div class="box" style="height: 300px;">
                            <h2>{{c.cname}}</h2>
                            <p>{{c.description}}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Previous feedbacks</h1>
            <h4 class="text-center"><em>Total: {{messages|length}}</em></h4>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in messages %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.contact}}</td>
                            <td>{{i.subject}}</td>
                            <td>{{i.message}}</td>
                            <td>{{i.added_on}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if status %}
    <script>
        alert("{{status}}")
        window.location="/"
    </script>
{% endif %}
{% endblock %}