{% extends "basedashboard.html" %}
{% load static %}
{% block head %}
<style>
    .bg{
        background: url('/static/images/img3.jpg');
    }
    .abc:hover{
        box-shadow: 0px 0px 10px black; padding: 10px;
    }
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg py-5 text-center text-light">
            <h1>Dashboard &gt; My Customers ({{customers|length}})</h1>
            <h3>Total Orders: {{times}}</h3>
        </div>
        {% for i in customers %}
        <div class="col-md-4">
            <div class="card abc">
                <div class="card-header">
                    {% if i.profile_pic %}
                        <img src="/media/{{i.profile_pic}}" style="height: 200px; width: 100%;">
                    {% else %}
                        <img src="{% static 'images/user.png' %}" style="height: 200px; width: 100%;">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h4>{{i.first_name}} {{i.last_name}}</h4>
                    <p><i class="fas fa-user"></i> {{i.username}}</p>
                    <p><em>{{i.email}}</em></p>
                    <p><ins>{{i.contact}}</ins></p>
                    <small>Member Since: {{i.join}}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}