{% extends "basedashboard.html" %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 py-5">
            <h2 class="alert alert-success">Dashboard &gt; My Products ({{products|length}})</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Category</th>
                        <th>Product Image</th>
                        <th>Seller Name</th>
                        <th>Product Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                        <tr>
                            <td>{{p.id}}</td>
                            <td>{{p.product_name}}</td>
                            <td>{{p.product_category}}</td>
                            <td><img src="/media/{{p.product_image}}" style="height: 50px; width: 50px;"></td>
                            <td>{{p.seller.first_name}} {{p.seller.last_name}}</td>
                            <td>
                                <button class="btn btn-success" data-toggle="modal" data-target="#m{{p.id}}"><i class="fa fa-eye"> View</i></button>
                                <a href="{% url 'updateproduct' %}?pid={{p.id}}" class="btn btn-warning"><i class="fa fa-edit"> Edit</i></a>
                                <a href="{% url 'deleteproduct' %}?pid={{p.id}}" class="btn btn-danger"><i class="fa fa-trash">Delete</i></a>
                            </td>
                        </tr>
                        <div class="modal fade" id="m{{p.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Product details</h4>
                                        <button class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="/media/{{p.product_image}}" style="height: 350px;" width="100%">
                                        <h2>
                                            <a href="{% url 'singleproduct' %}?pid={{p.id}}">{{p.product_name}}</a>
                                        </h2>
                                        <p>{{p.product_category.cname}}</p>
                                        <del>&#8377;{{p.product_price}}</del><br>
                                        <strong>&#8377;{{p.sale_price}}</strong>
                                        <p>{{p.description}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'singleproduct' %}?pid={{p.id}}" class="btn btn-success">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}