{% extends "basedashboard.html" %}
{% load static %}
{% block head %}
<style>
    .bg{
        background: url('/static/images/img3.jpg');
    }
</style>
{% endblock %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg py-5 text-center text-light">
            <h1>Dashboard &gt; Order History</h1>
        </div>
        <div class="col-md-12 alert alert-primary">
            {% for i in order_history %}
                <div class="card my-4">
                    <div class="card-header">
                        <strong class="float-left">Order Id: {{i.order_id}}</strong>
                        <em class="float-right">Order Date: {{i.date}}</em>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-striped">
                            {% for j in i.products %}
                                <tr>
                                    <td>
                                        <img src="/media/{{j.product_image}}" style="height: 100px; width: 100px;" alt="Not Found">
                                    </td>
                                    <td>
                                        <h4>{{j.product_name}}</h4>
                                    </td>
                                    <td>
                                        <h5>&#8377;{{j.sale_price}}</h5>
                                    </td>
                                    <td>
                                        <a href="{% url 'singleproduct' %}?pid={{j.id}}" target="blank" class="btn btn-success"><i class="fa fa-eye"></i> View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="card-footer">
                        <table class="table table-bordered">
                            <tr>
                                <th>Invoice ID</th>
                                <td>{{i.invoice}}</td>
                                <th>Status</th>
                                <td>
                                    {% if i.status %}
                                        <button class="btn btn-success btn-block"><i class="fa fa-check"></i> Success</button>
                                    {% else %}
                                        <button class="btn btn-danger btn-block">&times; Pending</button>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}