{% extends 'base.html' %}
{% load static %}
{% block frstblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 my-5 py-5 text-center mx-auto" style="box-shadow: 0px 0px 10px black;">
            <img src="{% static 'images/success.png' %}" style="height: 400px; width: 400px;" alt=""><br>
            <h1 class="alert alert-success">Payment Successful</h1>
            <div class="my-3">
                <a href="{% url 'add_to_cart' %}" class="btn btn-success">Continue Shopping</a>
                <a href="{% url 'customer' %}" class="btn btn-primary">Go to Dashboard</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}