{% extends 'base.html' %}
{% block frstblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 my-5 py-5 text-center mx-auto" style="box-shadow: 0px 0px 10px black;">
            <h1 class="text-warning">Click here to Continue</h1>
            {{form.render}}
        </div>
    </div>
</div>
{% endblock %}