{% extends "base.html" %}
{% block frstblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 px-0">
            <div style="background: url('/static/images/img4.jpg'); background-size: cover; height: 100%;"></div>
        </div>
        <div class="col-md-6">
            <h1>Sign Up Here</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" name="first">
                        </div>
                        <div class="col-md-6">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" name="last">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p id="result"></p>
                </div>
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" class="form-control" placeholder="Enter Username" name="username" id ="usr" onkeyup="check()">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" name="password">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" placeholder="Enter Email" name="email">
                </div>
                <div class="form-group">
                    <label for="">Contact</label>
                    <input type="number" class="form-control" placeholder="Enter Mobile Number" name="contact">
                </div>
                <div class="form-group">
                    <label for="">User Type</label>
                    <select name="usertype" id="" class="form-control">
                        <option value="cust">Customer</option>
                        <option value="seller">Seller</option>
                    </select>    
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign Up" class="btn btn-success" id="btn1">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function check(){
        let un = document.getElementById("usr").value;
        $.ajax({
            url:"{% url 'check' %}",
            type:"get",
            data:{user:un},
            success:function(data){
                // $("#result").html(data)
                if(data=="Exists"){
                    $("#result").html("This username is already taken").addClass("text-danger")
                    $("#usr").addClass("alert alert-danger")
                    $("#btn1").attr("disabled","disabled")
                }
                else{
                    $("#result").html("")
                    $("#usr").removeClass("alert alert-danger")
                    $("#btn1").removeAttr("disabled")
                }
            }
        })
    }
</script>
{% if status %}
    <script>
        alert("{{status}}")
        window.location="/"
    </script>
{% endif %}
{% endblock %}