{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
    th{
        width: 30%;
    }
</style>
{% endblock %}
{% block frstblock %}
    <div class="container-fluid" style="background: url('/static/images/cover.jpg'); background-size: cover;">
        <div class="row py-5" style="background: rgba(0, 0, 0, 0.5);">
            <div class="col-md-12 py-5 my-5 text-light text-center text-uppercase font-weight-bold">
                <h1>Single Product</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row py-4">
            <div class="col-md-8">
                <div class="text-center py-4">
                    <img src="/media/{{product.product_image}}" style="height: 300px; width: 40%;">
                </div>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Product ID</th>
                            <td>{{product.id}}</td>
                        </tr>
                        <tr>
                            <th>Product Name</th>
                            <td>{{product.product_name}}</td>
                        </tr>
                        <tr>
                            <th>Product Market Price</th>
                            <td><del>&#8377;{{product.product_price}}</del></td>
                        </tr>
                        <tr>
                            <th>Offered Price</th>
                            <td>&#8377;{{product.sale_price}}
                                <script>
                                    let original = "{{product.product_price}}"
                                    let sale = "{{product.sale_price}}"
                                    let discount = 100-((sale/original)*100);
                                    document.write("<strong class='text-warning'>("+Math.round(discount,2)+"%)</strong>")
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <th>Product Details</th>
                            <td>{{product.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 py-5">
                <div class="card">
                    <div class="card-header">
                        <h4>Seller Details</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>First Name</th>
                                    <td>{{product.seller.first_name}}</td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                    <td>{{product.seller.last_name}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{product.seller.email}}</td>
                                </tr>
                                <tr>
                                    <th>Member Since</th>
                                    <td>{{product.seller.date_joined}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <img src="/media" alt=""> -->
                    </div>
                </div>
                <h4 class="alert alert-success">Category Details</h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Category ID</th>
                            <td>{{product.product_category.id}}</td>
                        </tr>
                        <tr>
                            <th>Category Name</th>
                            <td>{{product.product_category.cname}}</td>
                        </tr>
                        <tr>
                            <th>Category Image</th>
                            <td>
                                <img src="/media/{{product.product_category.cover_pic}}" style="height: 150x; width: 200px;" alt="">
                            </td>
                        </tr>
                        <tr>
                            <th>Category Description</th>
                            <td>{{product.product_category.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}