{% extends "basedashboard.html" %}
{% block head %}
<style>
    form .row{
        margin-top: 1%;
    }
</style>
{% endblock %}
{% block dashboard %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto bg-light p-5 m-3">
                <div class="card">
                    <div class="card-header">
                        <h3>Dashboard &gt; Edit Product</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <img src="/media/{{product.product_image}}" style="height: 250px; width: 50%;">
                                    </div>
                                        <label for="">Update Image</label>
                                    <input type="file" class="form-control" name="pimg">
                                </div>
                                <div class="col-md-6">
                                    <label>Product Name</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="pname" value="{{product.product_name}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Product Category</label>
                                </div>
                                <div class="col-md-6">
                                    <select name="pcategory" id="" class="form-control">
                                        {% for c in category %}
                                            {% if c.id == product.product_category.id %}
                                                <option value="{{c.id}}" selected>{{c.cname}}</option>
                                            {% else%}
                                                <option value="{{c.id}}">{{c.cname}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Product Price</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" name="pprice" value="{{product.product_price}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Sale Price</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" name="sprice" value="{{product.sale_price}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Product Description</label>
                                </div>
                                <div class="col-md-6">
                                    <textarea name="pdes" class="form-control" rows="5">
                                        {{product.description}}
                                    </textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-success" value = "Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if status %}
        <script>
            alert("{{status}}");
            window.location = "/updateproduct?pid={{id}}";
        </script>
    {% endif %}
{% endblock %}